package ${package};

##imports
import com.tastymonster.automation.element.base.*;
import com.tastymonster.automation.page.base.AbstractAutomationPage;

##Class declaration
public class ${pageName} extends ${parentPage} {
##WebEleemnts
#foreach( $field in $fields )
	public final ${field.getTypeName()} ${field.getFieldName()} = new ${field.getTypeName()}( "${field.getId()}", this ); // $field.getMacroName()
#end

	##package-protected constructor
    ${pageName}() {
	}
	
	public String getPageURI() {
		return "${pageURI}";
	}
##Tables
##End
}