##Create the user profile
#parse( "header.vm" )

#divStart( "wrapper" )
	#divStart( "standard_form" )

	<table>
	#formStart
        #formInput( "firstNameField" "First Name" "user.firstName" )
        #formInput( "lastNameField" "Last Name" "user.lastName" )
        #formInput( "emailField" "Email" "user.email" )
        #formInput( "phoneField" "Phone #" "user.phone" )
        #formInput( "securityQuestionField" "Security Question" "user.securityQuestion" )
        #formPassword( "securityAnswerField" "Security Answer" "user.securityAnswer" )
    	</table>
    	#formButton( "btnSubmit" "landingPage.vm" "Submit" )
	#formEnd

	
	#divEnd ## page
#divEnd ## wrapper