##Create the user profile
#parse( "header.vm" )

#divStart( "wrapper" )
	<table>
	#formStart
        #formInput( "givenNameField" "Given Name" "user.firstName" )
        #formInput( "lastNameField" "Last Name" "user.lastName" )
        #formInput( "emailField" "Email" "user.email" )
        #formInput( "phoneField" "Phone #" "user.phone" )
        #formInput( "securityQuestionField" "Security Question" "user.securityQuestion" )
        #formPassword( "securityAnswerField" "Security Answer" "user.securityAnswer" )
    	</table>
    	#formButton( "btnSubmit" "landing.vm" "Submit" )
    	#button( "guestLogin" "landing.vm" "Guest" )
    	
	#formEnd
#divEnd ## wrapper