#divStart( "footer" )
	Copyright (c) 2012 #link( "company_link" "http://www.tastymonster.com/" "Tasty Monster" ). All rights reserved. Design by #link( "site_address" "http://www.freecsstemplates.org/" "Free CSS Templates" ).
#divEnd ## footer
