#parse( "header.vm" )
<html>
    <body>
        #divStart( "wrapper" )
		   	#divStart( "page" )
        		#divStart( "content" )
        			#divStartBox( "welcome" )
        				<h2>Welcome back!</h2>
        				<p>
        					From here you have several options. You can go to the 
							#link( "lnk_patentTable" "patentTable" "Patent Table" ), 
							you can #link( "lnk_addPatent" "addPatent.vm" "submit a new patent idea" ), 
							or you can just peruse our #link( "lnk_blog" "blog.vm" "latest blog articles" ) 
							relating to patent law. The latter is especially useful if you're looking to take
							a nap on an airplane
        				</p>
					#divEnd
				#divEnd ##content
			#divEnd ##page
		#divEnd ## wrapper
	</body>
</html>