#divStart( "header" )
    #parse( "login.vm" )
	#divStart( "logo" )
			<h1><a href="landingPage.vm">PatentMojo</a></h1>
	#divEnd ## logo
	#divStart( "menu" )
		#horizontalTabBar( $velocity.getMainMenuTabs() )
		#clearfix
	#divEnd ##menu
#divEnd ## header
