package ${package};

##imports
import com.tastymonster.patentmojo.automation.element.base.*;
import com.tastymonster.patentmojo.automation.page.base.AbstractAutomationPage;

##Class declaration
public class ${fieldsClassName} extends AbstractFields  {
##WebElements
	protected final ${pageName} page = newPage( ${pageName}.class );
#foreach( $field in $fields )
	public final ${field.getInterface()} ${field.getFieldName()} = page.${field.getId()};
#end
##Tables
##End
}